* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(113, 99, 186, 255);
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover.active {
  background: #7aa7c5;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: nonw;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header {
  position: relative;
  float: right;
  background-color: #59a4d6;
  height: 80px;
  width: 100%;
}
.header ul {
  list-style: none;
  display: flex;
  padding-left: 60%;
}
.header ul li {
  padding-left: 10px;
}

/*cards*/
.main {
  position: relative;
  padding: 20px;
  width: 100%;
}
.totals {
  font-weight: bold;
  font-size: 25px !important;
  color: blue;
}

.stats {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.stats .card {
  width: 15%;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.stats .card h3 {
  text-transform: capitalize;
}
.stats .card p {
  font-size: 12px;
}
.stats .card button {
  background: #c97c0a;
  color: #fff;
  padding: 7px 15px;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.stats .card button:hover {
  background: #755f17;
}
.stats .card i {
  font-size: 22px;
  padding: 10px;
}
.search--icon {
  height: 20px;
  font-size: 16px;
}
#searchValue {
  width: 240px;
  padding: 5px;
  margin-top: 12px;
  margin-left: 10px;
  font-size: 15.5px;
}
#searchType {
  font-size: 15px;
}
#searchBtn {
  margin: auto 8px;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  transition: background 1s;
}
#searchBtn:hover {
  background-color: rgb(155, 154, 154);
}

.search {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  background-color: white;
  height: 50px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabular-wrapper {
  width: 100%;
  background: white;
  margin-top: 1 rem;
  border-radius: 10px;
  padding: 2rem;
}
.table-container {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: #115f94;
  color: #fff;
}
th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #fff;
}
td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}
tr:nth-child(even) {
  background: #d1cdcd;
}
tfoot {
  background: rgba(113, 99, 186, 255);
  font-weight: bold;
  color: #fff;
}
tfoot td {
  padding: 15px;
}
.table-container button {
  color: rgb(6, 70, 14);
  background: none;
  font-weight: bolder;
  cursor: pointer;
}

.chart-container {
  width: 100%;
  /* mheight: 400px; */
  margin-top: 50px;
  color: white !important;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
   border-radius: 20px;
}
.assets--container{
  width: 100%;
}

.chart--wrapper{
  background-color: white;
  /* border-radius: 20px; */
  margin-left: 30px;
  padding: 10px;

}
.toggleBtn{
  padding: 10px;
  border-radius: 5px;
  background-color: #115f94;
  color: white;
  transition: background 1s;
}

#submitBtn:hover{
  background-color: #115f94;
}

