body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(rgb(25, 77, 173), white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(25, 77, 173), white);
  background-size: cover;
}

.log-in {
  background-color: #ddd;
  border: 1px solid #999;
  padding: 30px;
  width: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

f/* Your other styles for labels, inputs, and buttons here */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group [type="text"],
.form-group [type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button [type="submit"] {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-group button[type="submit"]:hover {
  background-color: #666;
}
