* {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  width: 100%;
}
.sidebar--container {
  width: 20%;
}
.content--container {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 20px; 
}
.card--container {
  height: 23%;
  width: 100%;
   
}
.reusable--container {
  height: 77%;
}
